CORS_ORIGINS=*
OPENAI_API_KEY=

DB_HOST=
DB_PORT=3306
DB_DATABASE=orin_ai_crm
DB_USERNAME=
DB_PASSWORD=

VPS_IP=
VPS_PORT=2181
VPS_DB_PORT=8085

# Freshchat Integration
FRESHCHAT_API_TOKEN=
FRESHCHAT_URL=
FRESHCHAT_AGENT_BEARER_TOKEN=
AGENT_ID_BOT=
FRESHCHAT_WEBHOOK_TOKEN=